<div ng-controller="RoomController" layout="column" ng-cloak class="md-inline-form">
    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
                <md-tab label="List room" ng-disabled="startShow">
                    <md-content class="md-padding">
                        <input type="text" class="form-control" placeholder="Search .." ng-model="searchName">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <td>
                                    <a href="" ng-click="sortType = 'number'; sortReverse = !sortReverse">
                                        Room number
                                        <span ng-show="sortType == 'number' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'number' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="" ng-click="sortType = 'classRoom'; sortReverse = !sortReverse">
                                        Room class
                                        <span ng-show="sortType == 'classRoom' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'classRoom' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="" ng-click="sortType = 'capacity'; sortReverse = !sortReverse">
                                        Room Capacity
                                        <span ng-show="sortType == 'capacity' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'capacity' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="" ng-click="sortType = 'price'; sortReverse = !sortReverse">
                                        Room Price
                                        <span ng-show="sortType == 'price' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'price' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="" ng-click="sortType = 'status'; sortReverse = !sortReverse">
                                        Room Status
                                        <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="">Action</a>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="room in rooms | orderBy:sortType:sortReverse | filter:searchName | startFrom: startingItem() | limitTo: itemsPerPage">
                                <td>{{room.number}}</td>
                                <td>{{room.classRoom}}</td>
                                <td>{{room.capacity}}</td>
                                <td>{{room.price}}</td>
                                <td>{{room.status}}</td>
                                <td>
                                    <ul class="button-group radius">
                                        <li>
                                            <button class="tiny radius" ng-click="selectRoom(room)">Select</button>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div id="pagination" class="row" align="center">
                            <button class="pull-left btn btn-primary btn-sm" ng-disabled="firstPage()"
                                    ng-click="pageBack()">Previos
                            </button>
                            <span align="center">{{currentPage+1}} from {{numberOfPages()}}</span>
                            <button class="pull-right  btn btn-primary btn-sm" ng-disabled="lastPage()"
                                    ng-click="pageForward()">Next
                            </button>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Room card" ng-disabled="cardS">
                    <div layout="row">
                        <md-content>
                            <md-switch ng-model="isEdit" label="Edit">
                                Edit
                            </md-switch>
                        </md-content>
                    </div>
                    <div layout="row" layout-align="start" layout-margin flex="800">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <md-content>
                                        <img src="img/galery/deluxe-room-1.jpg" width="300" height="400">
                                        <br>
                                        <md-icon md-svg-src="img/icons/ic_photo_24px.svg" ></md-icon>
                                        <md-button type="submit" ng-click="">Upload foto</md-button>
                                    </md-content>
                                </td>
                                <td>
                                    <form name="roomFormNew" ng-submit="updateRoom()">
                                    <md-content>
                                        <div class="row" layout-gt-sm="row">
                                        <md-input-container class="md-block" flex="100">
                                            <label>Number</label>
                                            <input ng-model="room.number" ng-disabled="isEdit" ng-required="true" type="number">
                                        </md-input-container>
                                        </div>
                                       <div class="row" layout-gt-sm="row">
                                            <md-input-container class="md-block" flex="100">
                                                <label>Capacity</label>
                                                <input ng-model="room.capacity" ng-disabled="isEdit" ng-required="true" type="number">
                                            </md-input-container>
                                        <md-input-container class="md-block" flex="100">
                                            <label>Price</label>
                                            <input ng-model="room.price" ng-disabled="isEdit" ng-required="true" type="number">
                                        </md-input-container>
                                        </div>
                                        <div class="row" layout-gt-sm="row">
                                            <md-input-container  class="md-block" flex="100">
                                                <label>Class room</label>
                                                <md-select ng-model="room.classRoom" ng-disabled="isEdit" ng-required="true">
                                                    <md-option ng-repeat="rs in roomStandart" ng-value="rs" ng-disabled="isEdit">
                                                        {{rs}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>

                                            <md-input-container  class="md-block" flex="100">
                                                <label>Room Status</label>
                                                <md-select ng-model="room.status" ng-disabled="isEdit" ng-required="true">
                                                    <md-option ng-repeat="st in roomStatus" ng-value="st" ng-disabled="isEdit">
                                                        {{st}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>

                                        </div>
                                        <md-input-container class="md-block" flex="100">
                                            <label>Options</label>
                                        </md-input-container>
                                        <div class="row">
                                            <md-checkbox ng-model="room.hasBed" ng-disabled="isEdit" ng-init="room.hasBed=true">
                                                <label>Has Bed</label>
                                            </md-checkbox>
                                            <md-checkbox ng-model="room.hasTV"  ng-disabled="isEdit" ng-init="room.hasTV=true">
                                                <label>Has TV</label>
                                            </md-checkbox>
                                            <md-checkbox ng-model="room.hasShower" ng-disabled="isEdit" ng-init="room.hasShower=true">
                                              <label>Has Shower</label>
                                             </md-checkbox>
                                        </div>
                                        <div class="row">
                                        <md-checkbox ng-model="room.hasBathroom" ng-disabled="isEdit" ng-init="room.hasBathroom=true">
                                            <label>Has Bathroom</label>
                                        </md-checkbox>
                                        <md-checkbox ng-model="room.hasSafe" ng-disabled="isEdit" ng-init="room.hasSafe=true">
                                            <label>Has Safe</label>
                                        </md-checkbox>
                                        <md-checkbox ng-model="room.hasFridge" ng-disabled="isEdit" ng-init="room.hasFridge=true">
                                            <label>Has Fridge</label>
                                        </md-checkbox>
                                        <md-checkbox ng-model="room.hasHairdryer" ng-disabled="isEdit" ng-init="room.hasHairdryer=true" >
                                            <label>Has Hairdryer</label>
                                        </md-checkbox>
                                        </div>
                                        <div class="row">
                                            <md-button type="submit" ng-disabled="isEdit" >Save Room</md-button>
                                            <md-button type="submit" ng-click="historyRoom()" >History</md-button>
                                        </div>
                                    </md-content>
                                  </form>
                                </td>
                                <td ng-if="histShow == true">
                                    <md-content>
                                        <div layout-gt-sm="row">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <td> Order №</td>
                                                    <td> Date: check-in / check-out</td>
                                                    <td> Cost, $</td>
                                                    <td> Status</td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="s in histories">
                                                    <td>{{s.id}}</td>
                                                    <td> {{s.dateSt}} / {{s.dateEnd}}</td>
                                                    <td> {{s.price}}, $</td>
                                                    <td> {{s.orderStatus}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </md-content>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </md-tab>
                <md-tab label="Create room" ng-disabled="newShow">
                    <div layout="row" layout-align="start" layout-margin flex="800">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <md-content>
                                        <img src="img/galery/deluxe-room-1.jpg" width="300" height="400">
                                        <br>
                                        <md-icon md-svg-src="img/icons/ic_photo_24px.svg" ></md-icon>
                                        <md-button type="submit" ng-click="">Upload foto</md-button>
                                    </md-content>
                                </td>
                                <td>
                                    <form name="roomForm" ng-submit="createRoom()">

                                    <md-content>
                                        <div class="row" layout-gt-sm="row">
                                            <md-input-container class="md-block" flex="100" >
                                                <label>Number</label>
                                                <input ng-model="roomN.number" ng-required="true">
                                            </md-input-container>

                                        </div>
                                        <div class="row" layout-gt-sm="row">
                                            <md-input-container class="md-block" flex="100" >
                                                <label>Capacity</label>
                                                <input ng-model="roomN.capacity" ng-required="true" type="number">
                                            </md-input-container>
                                            <md-input-container class="md-block" flex="100" >
                                                <label>Price</label>
                                                <input ng-model="roomN.price" ng-required="true" type="number">
                                            </md-input-container>
                                        </div>
                                        <div class="row" layout-gt-sm="row">

                                            <md-input-container  class="md-block" flex="100" >
                                                <label>Class room</label>
                                                <md-select ng-model="roomN.classRoom" ng-required="true">
                                                    <md-option ng-repeat="rs in roomStandart" ng-value="rs">
                                                        {{rs}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>

                                            <md-input-container  class="md-block" flex="100" >
                                                <label>Room Status</label>
                                                <md-select ng-model="roomN.status" ng-required="true">
                                                    <md-option ng-repeat="st in roomStatus" ng-value="st">
                                                        {{st}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>

                                        </div>

                                        <md-input-container class="md-block" flex="100" >
                                            <label>Options</label>
                                        </md-input-container>
                                        <div class="row">
                                            <md-checkbox ng-model="roomN.hasBed" ng-init="roomN.hasBed=true">
                                                <label>Has Bed</label>
                                            </md-checkbox>
                                            <md-checkbox ng-model="roomN.hasTV"  ng-init="roomN.hasTV=true">
                                                <label>Has TV</label>
                                            </md-checkbox>
                                            <md-checkbox ng-model="roomN.hasShower" ng-init="roomN.hasShower=true">
                                                <label>Has Shower</label>
                                            </md-checkbox>
                                        </div>
                                        <div class="row">
                                            <md-checkbox ng-model="roomN.hasBathroom"  ng-init="roomN.hasBathroom=true">
                                                <label>Has Bathroom</label>
                                            </md-checkbox>
                                            <md-checkbox ng-model="roomN.hasSafe" ng-init="roomN.hasSafe=true">
                                                <label>Has Safe</label>
                                            </md-checkbox>
                                            <md-checkbox ng-model="roomN.hasFridge" ng-init="roomN.hasFridge=true">
                                                <label>Has Fridge</label>
                                            </md-checkbox>
                                            <md-checkbox ng-model="roomN.hasHairdryer" ng-init="roomN.hasHairdryer=true" >
                                                <label>Has Hairdryer</label>
                                            </md-checkbox>
                                        </div>


                                        <div class="row">
                                            <md-button type="submit">Save Room</md-button>
                                        </div>
                                    </md-content>
                                     </form>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>
